@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Gradient Text */
.animate-gradient-text {
  background-image: linear-gradient(
    to right,
    white,
    #60a5fa,
    #a855f7,
    #ec4899
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-move 6s ease infinite;
}

/* Gradient Background for Buttons */
.about-button {
  transition: background 0.3s ease, color 0.3s ease;
}

.about-button:hover {
  background: linear-gradient(to right, #3b82f6, #9333ea); /* Blue to Purple */
  color: white; /* Change text color to white on hover */
}

.mission-statement {
  font-family: 'Story Script', cursive;
}